@using System.Web.Optimization
<html data-ng-app="pos">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pediatric Ophthalmology</title>
    @Styles.Render("~/Content/css")
</head>
<body class="main">
    <div class="container" ng-controller="index as vm">
        <div class="row top-header" ng-cloak>
            <div class="left-header">
                <a href="/"><img class="top-header" src="~/content/images/logo.gif" /></a>
            </div>

            <div class="header-content">
                <div class="header-row">
                    <div class="app-header">e-Pediatric Ophthalmology & Strabismus</div>
                    <div class="row tight">
                        <div class="col-sm-8 tight">
                            <ul class="tabrow">
                                <li ng-repeat="tab in vm.navigation.tabs" ng-class="{selected: tab.active }">
                                    <a ui-sref="{{tab.hash}}" ng-click="vm.navigation.activateTab(tab)">
                                        <img class="nav-icon" ng-src="{{tab.iconUrl}}" />{{tab.title}}
                                    </a>
                                    <a href="#" class="tab-close" ng-class="{hidden: tab.firstTab}" ng-click="vm.navigation.removeTab(tab)">x</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-4 search-patient">
                            <input placeholder="Search Patient" kendo-auto-complete ng-model=" vm.searchCriteria" k-options="vm.searchOptions"
                                   k-on-select="vm.searchSelect(kendoEvent)" ng-show="vm.profile.isAuthenticated"
                                   k-template="'${ data.PatientName } (Patient \\#: ${ data.PatientNumber })<br />DOB: ${ data.DOBString }<hr class=&quot;tight&quot; />'"
                                   />
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-header" ng-show="vm.profile.isAuthenticated">
                <img class="top-header" ng-src="{{profile.photoUrl}}" />
            </div>
            <div class="menu">
                <img class="loading" src="~/content/images/loading.gif" ng-style="{'visibility' : session.navigation.isLoading ? 'visible' : 'hidden'}" />
                <ul id="main-menu" class="menu" kendo-menu k-data-source="vm.menuItems" k-on-select="vm.menuSelect(kendoEvent)" ng-show="vm.profile.isAuthenticated"></ul>
            </div>
        </div>
        <div ui-view class="row content">
            <div id="splash" class="splash">
                <br /><br />
                <h2 class="splash-header">Welcome to e-Pediatric Ophthalmology & Strabismus</h2>
                <br />
                <img class="splash-loading" src="~/content/images/loading.gif" />
            </div>
        </div>
    </div>
    <script>
        window.virtualDirectory = '@ViewBag.VirtualDirectory';
        window.userAuthenticated = @ViewBag.UserAuthenticated;
    </script>
    @Scripts.Render("~/scripts/libraries")
    @Scripts.Render("~/scripts/app")
</body>
</html>


