@using System.Web.Optimization
<html data-ng-app="pos">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pediatric Ophthalmology</title>
    @Styles.Render("~/Content/css")
</head>
<body class="main">
    <div class="container" ng-controller="index as vm">
        <div class="top-header" ng-cloak>
            <div class="left-header">
                <a href="/"><img class="top-header" src="~/content/images/logo.gif" /></a>
            </div>
            <div class="right-header" ng-show="vm.profile.isAuthenticated">
                <img class="top-header" ng-src="{{profile.photoUrl}}" />
            </div>
          
            <div class="menu">
                <img class="loading" src="~/content/images/loading.gif" ng-style="{'visibility' : session.navigation.isLoading ? 'visible' : 'hidden'}" /> @**@
                <ul class="menu" kendo-menu k-data-source="vm.menuItems" k-on-select="vm.menuSelect(kendoEvent)" ng-show="vm.profile.isAuthenticated"></ul>   
            </div>
            <div class="content">
                <div class="row tight header-row">
                    <div class="app-header">e-Pediatric Ophthalmology & Strabismus</div>
                    <div class="row tight">
                        <ul class="tabrow">
                            <li ng-repeat="tab in vm.navigation.tabs" ng-class="{selected: tab.active }">
                                <a href="#" ng-click="vm.navigation.activateTab(tab)">{{tab.title}}</a>
                                <a href="#" class="tab-close" ng-class="{hidden: tab.firstTab}" ng-click="vm.navigation.removeTab(tab)">x</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="search-patient">
                Search Patient: 
            </div>
        </div>
        <div ng-view>
            <div id="splash" class="splash">
                <br /><br />
                <h2 class="splash-header">Welcome to e-Pediatric Ophthalmology & Strabismus</h2>
                <br />
                <img class="splash-loading" src="~/content/images/loading.gif" />
            </div>
        </div>
    </div>
    <script>
        window.virtualDirectory = '@ViewBag.VirtualDirectory';
        window.userAuthenticated = @ViewBag.UserAuthenticated;
    </script>
    @Scripts.Render("~/scripts/libraries")
    @Scripts.Render("~/scripts/app")
</body>
</html>

