@using System.Web.Optimization
<html data-ng-app="pos">
<head>
    <meta name="viewport" content="width=device-width" />
    <base href="/" target="_blank">
    <title>Testing</title>
    @Styles.Render("~/Content/css")
</head>
<body class="main">
    <div class="container" ng-controller="test as vm">
        <div class="row top-header" ng-cloak>
            {{vm.message}}
        </div>
        <form editable-form name="edform">
            <div class="ui-grid">
                <div class="ui-grid-header ui-grid-top-panel ui-grid-cell-contents">
                    <div class="float-left">Message Test</div>
                    <div class="float-right">
                        <div kendo-window="confirmDialog" k-title="'Please Confirm'" k-visible="false" k-modal="true">
                            Do you want to cancel and loose your changes
                            <div class="modal-footer"><button type="button" class="btn btn-primary" ng-click="vm.cancelYes()">Yes</button><button type="button" class="btn btn-default" ng-click="vm.cancelNo()">No</button></div>                        
                        </div>
                        <!-- button to show form -->
                        <button type="button" class="btn btn-default" ng-click="edform.$show()" ng-show="!edform.$visible">
                            Edit
                        </button>
                        <!-- buttons to submit / cancel form -->
                        <span ng-show="edform.$visible">
                            <button type="submit" class="btn btn-primary" ng-disabled="edform.$waiting">
                                Save
                            </button>
                            <button type="button" class="btn btn-default" ng-disabled="edform.$waiting" ng-click="vm.cancel()">
                                Cancel
                            </button>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 col-row-header">Header</div>
                    <div class="col-sm-9 col-row-content">
                        <span editable-text="vm.message" e-name="message" e-class="medium" e-maxlength="20" >{{ vm.message }}</span>
                    </div>
                </div>
            </div>
        </form>
        </div>
    <script>
        window.virtualDirectory = '@ViewBag.VirtualDirectory';
        window.userAuthenticated = @ViewBag.UserAuthenticated;
    </script>
    @Scripts.Render("~/scripts/libraries")
    @Scripts.Render("~/scripts/app")
</body>
</html>


